<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BStore</title>
</head>
<body>
<h1>Please, enter your information below here</h1>
<form action="/auth/registration-user" method="post">
    <label for="name">Username:</label>
    <input type="text" id="name" name="username">
    <br><br>
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password">
    <br><br>
    <label for="phone">Phone number:</label>
    <input type="text" id="phone" name="phone_number">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>